<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>ТСЖ</title>
</head>
<body>

<article th:fragment="content">
    <!-- ......... -->
    Товарищества собственников жилья
    <button id="add-tsj">добавить</button>
    <!--/*@thymesVar id="val" type="java.util.List<ru.tsj.unit.Unit>"*/-->
    <div class="units">
        <a class="unit" th:each="unit : ${val}" th:href="'/units/' + ${unit.code}">
            <img src="logo.png" th:src="${unit.logo}">
                            <span class="unit-name" th:text="${unit.name}">
                                Название
                            </span>
        </a>
    </div>

</article>

<script th:fragment="scripts" type="application/javascript">
    $("#add-tsj").click(function () {
        $.ajax({
            url: "/units",
            method: "PUT",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({name : "ТСЖ", code: "code"})
        })
    })
</script>
</body>
</html>