<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <link rel="shortcut icon" href="../../resources/img/favicon.ico" th:href="@{/resources/img/favicon.ico}">
    <meta charset="utf-8"/>
    <meta name="theme-color" content="#0173c1">
    <title>ТСЖ</title>

    <meta name="description" content="Портал ТСЖ"/>

    <link rel="stylesheet" type="text/css" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}"/>

    <base href="/">
</head>
<body>
<!-- Шапка сайта -->

<header class="header">

    <!-- Навигация -->

    <nav class="menu">
        <!-- ......... -->
        <div class="content-centered-box">
            <div class="logo">
                ТСЖ
            </div>
        </div>
    </nav>
    <!-- Конец навигации -->

</header><!-- Конец шапки сайта -->

<section class="wrapper"><!-- основной блок -->
    <div class="content-centered-box">
        <aside class="content-box"><!-- блок там где отображаются посты -->
            <!-- Начало поста -->
            <section class="article">
                <h1 class="article-header">Сайт агрегатор по управлению конторами ТСЖ</h1>
                <article class="postBox" th:include="this :: content"></article>
            </section>
            <!-- Начало поста -->
        </aside>
        <aside class="right-panel"> <!-- блок боковой колонки -->
            <!-- ......... -->

            <section class="actions-block">
                Some info
            </section>

        </aside>
    </div>
</section>

<footer class="footer" th:include="fragments/footer :: footer"></footer>

<script src="../../resources/js/jquery-2.2.0.js" th:src="@{/resources/js/jquery-2.2.0.js}"> </script>

<div th:replace="this :: scripts"></div>
</body>
</html>